<h1>投稿が完了しました</h1>
<%= link_to 'トップページに戻る', '/posts' %>


<%# 
 パラメーター
リクエストに含まれてサーバーの外部から渡されるデータのことです。
URLに含めるパラメーターやフォームから送信されるパラメーターがあります。

Railsのコントローラーにたどり着くパラメーターは、paramsというハッシュのようなものに格納されて、届けられます。

 paramsパラムス
送られてきたパラメーターをハッシュのような構造で格納したものです。
フォームで送信されたデータもparamsの中に格納されてコントローラーで受け取られます。

text_fieldの後に記載されたキーでparamsに格納されています。
フォームで入力された情報の値は、params[:キー名]として取り出すことができます。 %>
<%# 
createクリエイトメソッド
モデルが使用できるActiveRecordメソッドのひとつです。

保存のために、new→情報を記述→saveとしていたところが、createメソッドの引数を記述して実行するだけで保存できます。

【例】
モデル.create(カラム名: 値)

 %>
